.todo-item {
   padding: 10px 10px;
   border-bottom: 1px solid #6667AB55;
   margin-bottom: 5px;
   background: #fff;
   border-radius: 5px;

   .btn {
      color: #fff;
   }

   .btn-edit {
      background-color: #35a7ff;
      border: 1px solid #35a7ff;

      &:hover {
         background-color: #fff;
         color: #35a7ff;
      }
   }
}