<form class="form-inline" (submit)="onSubmit()">
   <div class="form-group d-flex">
      <input type="text" name="todo" [(ngModel)]="todoText" class="form-control me-3" placeholder="i want to do ..." />
      <button type="submit" class="btn add-btn flex-center"><i class="fa-solid fa-plus me-2"></i>add</button>
   </div>
</form>


<!-- Second way with add value for form submited -->
<!-- <form class="form-inline" (submit)="onSubmit(todoText)">
   <div class="form-group d-flex">
      <input type="text" name="todo" #todoText class="form-control mx-3" placeholder="i want to do ..." />
      <button type="submit" class="btn btn-primary">add</button>
   </div>
</form> -->