<div *ngIf="!editStatus; else editTodo" class="d-flex justify-content-between align-items-center border rounded p-3">
	<div>
		{{ todoItem.text }}
	</div>
	<div>
		<button type="button" class="btn btn-sm me-2" [ngClass]="todoItem.done ? 'btn-success': 'btn-warning' "
			(click)="toggleTodo(todoItem.key!)">
			{{ todoItem.done ? "Undone" : "Done" }}
		</button>
		<button type="button" class="btn btn-info btn-sm me-2" (click)="editStatus = true">edit</button>
		<button type="button" class="btn btn-danger btn-sm me-2" (click)="deleteTodo(todoItem.key!)">delete</button>
	</div>
</div>

<ng-template #editTodo>
	<app-edit-todo [textTodo]="todoItem.text!" (editedText)="editsTodo(todoItem.key!, $event)"></app-edit-todo>
</ng-template>